<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Search
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="searchForm">
    <div fxFill fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput>
      </mat-form-field>
      <button type="submit" (click)="search()" mat-raised-button color="primary">Search</button>
    </div>
  </form>
</mat-expansion-panel>
